@charset "utf-8";
/* CSS Document */

body {
	background-image: url(background.jpg);
	font: 15px arial;
	text-align: center;
}

.mapouter{
	margin-left: auto;
	margin-right: auto;
}

p{
	color: #FDFDFD;
}

h1{
	align-content: center;
}

#intro{
	background-color:#450F10;
}